@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" color="silver" >Welcome</h1>
    
</div>

@section Scripts{ 
<script>
$('h1').click(function() {
    $(this).text("Добро пожаловать");
})
</script>
}

</br>

<form class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Поиск рецепта" aria-label="Поиск рецепта" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Найти</button>
</form>