@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" color="silver" >Welcome</h1>
    
</div>

@section Scripts{ 
<script>
$('h1').click(function() {
    $(this).text("Добро пожаловать");
})
</script>
}

<form asp-action="Search" asp-controller="Home" method="get" input-group mb-3">
  <input required name="title" type="text" class="form-control" placeholder="Поиск рецепта" aria-label="Поиск рецепта" aria-describedby="button-addon2">
  <button class="btn btn-success" type="submit" id="button-addon2">Найти</button>
</form>