
@{
    ViewData["Title"] = "Search";
}

@model Hit
@if (@ViewBag.CookTitle != null)
{
    <h1>Найденные рецепты : @ViewBag.CookTitle</h1>
  <div class="row">
       @foreach (var item in @Model.Recipe)
        {
          <div class="card col-4">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
  
      
             </div>
           </div>    
       } 
     
   </div>

}
else
{
    <h1> Ничего не нашлось </h1>
}